body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.2;
    font-size: 18px;
}

.container {
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: center;
    width: 100%;
    margin: 25px auto;
}

#hero {
 display: flex;
 flex-direction: column;
 align-items: center;
align-self: center;
}

#content {
    text-align: center;
    padding: 10%;
}

#form {
    width:90%;
}

@media screen and (min-width: 728px) {
    #hero {
        flex-direction: row;
        max-width: 1024px;
    }
    #content {
        width: 50%;
    }
    #form {
        width: 50%;
    }
}